body {
    font-family: 'Creepster', cursive;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
  }

  .jumbotron{
      background: rgba(194, 186, 186, 0.8);
      color: darkorange;
  }

  h1{
      text-align: center;
      height: 50px;
      margin: 10px 10px 10px 10px;
  }

  p{
    text-align: center;
    font-family: initial; 
    padding-top: 15px;
  }
.radio-inline{
    font-size: 20px;
}

#timeRemaining{
    font-size: 55px;
    color:  rgb(0, 195, 255);
    margin-bottom: 30px;
}

#Quiz, #Results{
    font-size: 18px;
    color:  darkorange;
    background: rgba(0, 0, 0, .8);
}

#submit, #start{
    font-size: 25px;
    padding: 10px 50px 10px 50px;
    margin: 10px 0px 10px 0px;
}

.mark, mark {
    padding: .2em;
    background: rgba(0, 0, 0, .8);
    color: red;

}

